{% extends 'layout.html' %}
{% block content %}
<div class="post">
    {% if menu.expiration_date %}
        <div class="date">
            Expires on: {{ menu.expiration_date }}
        </div>
    {% endif %}

    {% for menu in menus %}
        <h1>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'menu:menu_edit' pk=menu.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <a href="{% url 'menu:menu_detail' pk=menu.pk %}">{{ menu.season }}</a>
        </h1>
        <p>{{ menu.items.all|join:", "}}</p>
    {% endfor %}
</div>
{% endblock %}